body {
	background-color: #9c9f84;
}
.advantages-container {
/* display: flex; */
}
.advantages-title {
	margin: 10px;
	background-color: #5c755c;
	font: Roboto 36px 100 30px;
}
}
.crafted {
	background-color: #f0f0f0;
}
.layout {
	background-color: #daf3b9;
}
.unlimited {
	background-color: #f0f0f0;
}
.lots {
	background-color: #f0f0f0;
}
.advantage-item {
	display: inline-block;
	width: 129px;
	height: 129px;
	border-radius: 50%;
	border: 15px solid red;
}