.advantage-container {
	margin: 0 auto;
	padding: 0 15px;
	width: 1170px;
	border: solid #000;
	border-width: 0 1px;
	/*&:after;
	display: table;
	clear: left;
	content: '';*/
}
h2,
.advantage-desc {
	text-align: center;
	margin: 10px;

}

 
.advantage-item {
	box-sizing: border-box;
	float: left;
	padding: 0 5px;
	width: 25%;
	text-align: center;
}

.advantage-icon {
	display: inline-block;
	background: #dc464e;
	border: 15px solid #f0f0f0;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	line-height: 130px;
	transition: all .2s ease;
	cursor: pointer;
}
.advantage-icon:hover {
	background: #82b53f;
	border: 15px solid #daf3b9;
	
}
h2, div, p {
font-family: Roboto;	
}
h2 {
		font-size: 36px;
		font-weight: 100;
		line-height: 30px;
}
div {
	font-size: 22px;
	font-weight: 300;
	line-height: 30px;

}
h3 {
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;

}
p {
	width: 212px;
	height: 86px;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}

.table {
	/*text-align: center; */
}