.advantages-container {

}
h2 {
	width: 720px;
	height: 36px;
	color: #333333;
	font: Roboto 36px 100 30px;
}
.advantages-container {
	
}
.crafted {
	width: 129px;
	height: 129px;
	background-color: #f0f0f0;
	border-radius: 50%;
}