.advantages-container {
display: flex;
}
h2 {
	width: 720px;
	height: 36px;
	color: #333333;
	font: Roboto 36px 100 30px;
}
.crafted {
	width: 129px;
	height: 129px;
	background-color: #f0f0f0;
	border-radius: 50%;
}
.layout {
	width: 129px;
	height: 129px;
	background-color: #daf3b9;
	border-radius: 50%;
}
.unlimited {
	width: 129px;
	height: 129px;
	background-color: #f0f0f0;
	border-radius: 50%;
}
.lots {
	width: 129px;
	height: 129px;
	background-color: #f0f0f0;
	border-radius: 50%;
}