.advantages-container {
text-align: center;
}
.advantages-title {
	margin: 10px;
	background-color: #5c755c;
	font: Roboto 36px 100 30px;
}

.advantage-item {
	display: inline-block;
	width: 129px;
	height: 129px;
	border-radius: 50%;
	border: 15px solid #f0f0f0;
	vertical-align: top;
	text-align: center;
	line-height: 129px;
	background-color: #dc464e;
	cursor: help; 
}
.advantage-item:hover {
background-color: #82b53f;
border: 15px solid #daf3b9;	
}
.advantage-icon {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}
h3 {
	font-size: 15px;
	line-height: 20px;
  	width: 150px;
}
p {
	font-size: 10px;
	line-height: 12px;
}